{%extends "layout.html"%}

{%block content%}   

    <main class="Main-Box">
      <section>
        <div class="cards">
          
          <div class="card">
            <img src="/assets/asinhas.png" alt="Frango">
             <h2>Asinhas de frango ao barbecue</h2>
             <p>por Vania Steroski</p>
          </div>
          
          <div class="card">
            <img src="/assets/burger.png" alt="Hamburguer">
             <h2>Triplo bacon burger</h2>
             <p>por Jorge Relato</p>
          </div>
          
          <div class="card">
            <img src="/assets/doce.png" alt="Doce">
             <h2>Docinhos pão-do-céu</h2>
             <p>por Ricardo Golvea</p>
          </div>

          <div class="card">
            <img src="/assets/espaguete.png" alt="Espaguete">
             <h2>Espaguete ao alho</h2>
             <p>por Júlia Kinoto</p>
          </div>
          
          <div class="card">
            <img src="/assets/lasanha.png" alt="Lasanha">
             <h2>Lasanha mac n’ cheese</h2>
             <p>por Vania Steroski</p>
          </div>
          
          <div class="card">
            <img src="/assets/pizza.png" alt="Pizza">
             <h2>Pizza 4 estações</h2>
             <p>por Fabiano Melo</p>
          </div>

          <div class="card">
            <img src="/assets/asinhas.png" alt="Frango">
             <h2>Asinhas de frango ao barbecue</h2>
             <p>por Vania Steroski</p>
          </div>
          
          <div class="card">
            <img src="/assets/burger.png" alt="Hamburguer">
             <h2>Triplo bacon burger</h2>
             <p>por Jorge Relato</p>
          </div>
          
          <div class="card">
            <img src="/assets/doce.png" alt="Doce">
             <h2>Docinhos pão-do-céu</h2>
             <p>por Ricardo Golvea</p>
          </div>

          <div class="card">
            <img src="/assets/espaguete.png" alt="Espaguete">
             <h2>Espaguete ao alho</h2>
             <p>por Júlia Kinoto</p>
          </div>
          
          <div class="card">
            <img src="/assets/lasanha.png" alt="Lasanha">
             <h2>Lasanha mac n’ cheese</h2>
             <p>por Vania Steroski</p>
          </div>
          
          <div class="card">
            <img src="/assets/pizza.png" alt="Pizza">
             <h2>Pizza 4 estações</h2>
             <p>por Fabiano Melo</p>
          </div>
          
        </div>
      </section>
    </main>

    <div class="modal-overlay">
      
      <div class="modal">
        
        <a class="close-modal">
          <i class="material-icons">close</i>
        </a>
        <div class="modal-content">

        </div>
      
      </div>
    </div>

{%endblock%}