* {
  margin: 0;
  padding: 0;
  border:0;
  text-decoration: none;
}

body{
  background: white;
  font-family: 'Roboto', sans-serif;
  color:#111111;
  font-size: 16px;
  
}
/*== HEADER*/
header{
  background-color: #111111;
  display:flex;
  align-items: center;
  padding: 36px;
  max-width: 1400px;
  margin: 0 auto;  
}

.logo{
 margin: auto 210px;
}

/* Main Section */

.Main-Box{
  margin: 50px auto;
  max-width: 940px;
}


.Main-Box-Header{
  display: grid;
  grid-template-columns: auto  max-content max-content;
  gap: 10px;
  align-items: center;
  padding-bottom: 30px;
}

.Main-Box-Header h1{
  font-family: 'Roboto-Bold',sans-serif;
  font-size: 24px;
  color: #111111;
}

#purplebutton a{
  background-color: #6558C3;
  border-radius: 4px;
  font-family: 'Roboto-Bold',sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  padding: 9px 20px;
}
#redbutton a{
  background-color: #DC4747;
  border-radius: 4px;
  font-family: 'Roboto-Bold',sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  padding: 9px 20px;
}

.cards{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
}


.cards img{
  width: 172px;
  height: 80px;
  border-radius: 15px;
  margin-bottom:10px;
  cursor: pointer;
}

.card{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.card-info{
  display: inline-block;
  padding-left: 20px;
}

.card-info h2{
  font-family: 'Roboto-Regular',sans-serif;
  font-size: 18px;
  color: #111111;
}

.card-info p{
  font-family: 'Roboto-Regular',sans-serif;
  font-size: 14px;
  color: #777777;
  padding-top: 5px;
  padding-bottom: 10px;
}

.card-info a{
  color: #6558C3;
  font-family:'Roboto-Bold',sans-serif;
}

/* Show Recipes */
.cards-show{
  margin: 0 auto;
}

.cards-show img{
  width: 940;
  height: 280;
  border-radius: 15px;
  margin-bottom:20px;
  cursor: pointer;
}

.card-show{
  padding-bottom: 50px;
}


.card-show h2{
  padding-top: 50px;
  padding-bottom: 4px;
  font-family: 'Roboto-Bold',sans-serif;
  font-size: 36px;
  color: #111111;
  text-align: center;
}

.card-show p{
  padding-top: 4px;
  font-family: 'Roboto-Regular',sans-serif;
  font-size: 20px;
  color: #777777;
  text-align: center;
}

.card-info-text{
  padding:20px;
}

.info-show button{
  background: none;
  font-family: 'Roboto-Bold',sans-serif;
  font-size: 12px;
  color: #999999;
  cursor: pointer;
  padding: 0px;
  padding-left: 8px;
}

.info-show h2{
  padding: 0;
}

.info-show{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}


.card-info-text p{
  font-family: 'Roboto-Regular',sans-serif;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.card-info-text ul{
 padding-left: 20px;
}

.card-info-text li{
  font-family: 'Roboto-Regular',sans-serif;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

/* Edit */
.item p{
  font-family:'Roboto-Bold',sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #111111;
  padding:20px 0;
}

.item span{
  font-family:'Roboto-Bold',sans-serif;
  font-weight: 700;
  color: #6558C3;
  cursor: pointer;
  display: flex;
  padding-top: 15px;
}

.item input{
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  height: 49px;
  width: 940px;
  padding-left: 20px;
  margin: 5px auto;
}

.item textarea{
  width: 922px;
  max-width: 922px;
  height: 150px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 18px;
  font-family:'Roboto-Regular',sans-serif;
  font-weight: 300;
}

/* Footer */

footer{
  background: #EEEEEE;
  text-align: center;
}

footer p{
  padding: 23px 0px;
}