* {
  margin: 0;
  padding: 0;
  border:0;
  text-decoration: none;
}

body{
  background: white;
  font-family: 'Roboto', sans-serif;
  color:#111111;
  font-size: 16px;
}
/*== HEADER*/
header{
  display:flex;
  align-items: center;
  margin: 36px auto;
  max-width: 940px;
}

.Header-Div a{
  padding-right: 30px;
  font-size: 16px;
  color: #111111;
}

.logo{
  padding-right: 140px;
}

/*=== Block Content */

.Chef-content{
  margin: 0px auto;
  width: 940px;
  height: 366px;
}

.Block{
  background: #FBDFDB;
  border-radius: 30px;
  display: flex;
}
.Block img{
  padding: 66px 100px 0px 100px;
}

.Block h1{
  font-family: 'Roboto', sans-serif;;
  font-size: 32px;
  color: #111111;
  padding-bottom: 10px;
}

.Block p{
  opacity: 0.7;
  font-family: 'Roboto-Regular',sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
}

.content-block{
 padding: 117px 0px 117px 60px;
 margin-right: 150px;
}
/* Main Section */

.Main-Box{
  margin: 50px auto;
  width: 940px;
}

.Main-Box h1{
  padding-bottom: 20px;
}

.cards{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.cards img{
  width: 300px;
  height: 140px;
  border-radius: 15px;
  margin-bottom:20px;
  cursor: pointer;
}
.card h2{
  font-family: 'Roboto-Regular',sans-serif;
  font-size: 18px;
  color: #111111;
}

.card p{
  padding-top: 5px;
  font-family: 'Roboto-Regular',sans-serif;
  font-size: 14px;
  color: #777777;
}

/* About */

article{
  margin: 0px auto;
  max-width: 940px;
  padding: 20px;
}

article p{
  font-family: 'Roboto-Regular',sans-serif;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  padding: 20px 0px;
}

/* Show Recipes */
.cards-show{
  margin: 0 auto;
}

.cards-show img{
  width: 940;
  height: 280;
  border-radius: 15px;
  margin-bottom:20px;
  cursor: pointer;
}

.card-show{
  padding-bottom: 50px;
}


.card-show h2{
  padding-top: 50px;
  padding-bottom: 4px;
  font-family: 'Roboto-Bold',sans-serif;
  font-size: 36px;
  color: #111111;
  text-align: center;
}

.card-show p{
  padding-top: 4px;
  font-family: 'Roboto-Regular',sans-serif;
  font-size: 20px;
  color: #777777;
  text-align: center;
}

.card-info-text{
  padding:20px;
}

.info-show button{
  background: none;
  font-family: 'Roboto-Bold',sans-serif;
  font-size: 12px;
  color: #999999;
  cursor: pointer;
  padding: 0px;
  padding-left: 8px;
}

.info-show h2{
  padding: 0;
}

.info-show{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}


.card-info-text p{
  font-family: 'Roboto-Regular',sans-serif;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.card-info-text ul{
 padding-left: 20px;
}

.card-info-text li{
  font-family: 'Roboto-Regular',sans-serif;
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

/* Footer */

footer{
  background: #EEEEEE;
  text-align: center;
}

footer p{
  padding: 23px 0px;
}