{%extends "layoutAdmin.html"%}

{%block content%}   

    <main class="Main-Box">
      <div class="Main-Box-Header">
        <h1>Editando receita: {{recipeId.title}}</h1>
         <button id='redbutton'><a href=''>Deletar</a></button>
        <button id='purplebutton'><a href=''>Salvar Receita</a></button>
      </div>
      
      
      <form action="" method="post">
        <section>

          {% include 'Fields.html'%}

        </section>
      </form>
    </main>
<script src="/adminScripts.js"></script>
    
{%endblock%}