{%extends 'layoutAdmin.html'%}

{%block content%}   

  <main class="Main-Box">
    <h1>Gerenciar receitas</h1>
    <section>

      <div class="cards">
        {%for item in Data%}
          
        <div class="card">
          <img src="{{ item.image }}" alt="{{item.title}}">

          <div class="card-info">
            <h2>{{ item.title }}</h2>
            <p>{{ item.author }}</p>
            <a href="admin/receitas/{{item.id}}">Visualizar</a>
          </div>
        </div>

        {%endfor%}
      </div>
    </section>
  </main>


{%endblock%}